$primary: #E43d12;
$secondary: #db5d3e;
$tertiary: #ebe9e1;

.active > .page-link {
    color: white;
    background-color: $primary;
    border-color: $primary;
}

.disabled > .page-link{
  background-color: $tertiary;
}

.page-link{
  color: $primary;
}

.hero-section{
  background: url('/assets/img/our-barmen.webp');
  border-radius: 0;
}

.hero-heading{
  font-size: 3.5rem;
}

// .hero-section {
//   position: relative;
//   width: 100%;
//   height: 30vh;
//   margin-top: -60px;
//   background-image: url('/assets/img/our-barmen.webp');
//   background-size: cover;
//   background-position: center top;
//   .overlay{
//     width: 100%;
//     height: 100%;
//     padding: 100px 50px 100px 50px;
//     color: #FFF;
//     text-shadow: 2px 2px 2px #333;
//     background-image: linear-gradient( 135deg, #da875a6b 10%, #e8783c6b 100%);
//   }
// }

// .hero-heading {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   color: white;
//   text-align: center;
//   font-size: 3.5em;
//   font-weight: bold;
// }

// @media (max-width: 768px) {
//   .hero-section {
//     height: 300px; /* Altezza per mobile */
//     background-image: url('path/to/your/mobile-image.jpg');
//   }

//   .hero-heading {
//     font-size: 2em;
//   }
// }
