<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
      <form [formGroup]="registerForm" (ngSubmit)="register()" class="form_main">
        <p class="heading">Registrati</p>
        <div class="mb-3 form-check">
          <input type="checkbox" id="isBarman" class="form-check-input" formControlName="isBarman">
          <label for="isBarman" class="form-check-label">Sono un barman</label>
        </div>
        <div class="inputContainer">
          <input
            type="text"
            class="inputField"
            [ngClass]="{'is-invalid': registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)}"
            id="firstName"
            placeholder="Nome"
            formControlName="firstName"
            required
          />
        </div>
        <div class="inputContainer">
          <input
            type="text"
            class="inputField"
            [ngClass]="{'is-invalid': registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)}"
            id="lastName"
            placeholder="Cognome"
            formControlName="lastName"
            required
          />
        </div>
        <div class="inputContainer">
          <input
            type="text"
            class="inputField"
            [ngClass]="{'is-invalid': registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)}"
            id="username"
            placeholder="Username"
            formControlName="username"
            required
          />
        </div>
        <div class="inputContainer">
          <input
            type="email"
            class="inputField"
            [ngClass]="{'is-invalid': registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)}"
            id="email"
            placeholder="Email"
            formControlName="email"
            required
          />
        </div>
        <div class="inputContainer">
          <input
            type="password"
            class="inputField"
            [ngClass]="{'is-invalid': registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)}"
            id="password"
            placeholder="Password"
            formControlName="password"
            required
          />
        </div>
        <div class="inputContainer">
          <input
            type="text"
            class="inputField"
            [ngClass]="{'is-invalid': registerForm.controls['city'].invalid && (registerForm.controls['city'].dirty || registerForm.controls['city'].touched)}"
            id="city"
            placeholder="Città"
            formControlName="city"
            required
          />
        </div>
        <div *ngIf="registerForm.controls['isBarman'].value" class="barman-fields">
          <div class="inputContainer">
            <input
              type="number"
              class="inputField"
              [ngClass]="{'is-invalid': registerForm.controls['experienceYears'].invalid && (registerForm.controls['experienceYears'].dirty || registerForm.controls['experienceYears'].touched)}"
              id="experienceYears"
              placeholder="Anni di esperienza"
              formControlName="experienceYears"
            />
          </div>
          <div class="inputContainer">
            <textarea
              class="inputField description-field"
              [ngClass]="{'is-invalid': registerForm.controls['description'].invalid && (registerForm.controls['description'].dirty || registerForm.controls['description'].touched)}"
              id="description"
              placeholder="Descrizione"
              formControlName="description"
            ></textarea>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="registerForm.invalid"
          id="button"
        >
          Registrati
        </button>
      </form>
    </div>
  </div>
</div>
