$primary: #E43d12;
$secondary: #db5d3e;
$tertiary: #ebe9e1;

.image-container {
  background-image: url('/assets/img/barmen-quotation.webp');
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-text {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  margin: 20px auto;
}

.row{
  height: 60vh;
}

.form{
  margin: auto;
  padding: 30px 20px;
  border-left: 4px solid $secondary;
  // background-color: rgba(219, 93, 62, 0.2);
}
