<section class="hero-section">
  <div class="overlay">
    <h2 class="hero-heading">Prenotazioni</h2>
    <p class="fs-4 fst-italic mb-0">
      Modifica, elimina e visualizza tutti le tue prenotazioni e richieste di
      quotazione.
    </p>
  </div>
</section>

<div class="container mt-5">
  <ul ngbNav #nav="ngbNav" class="nav-tabs mb-3 px-3">
    <li ngbNavItem>
      <a ngbNavLink> Prenotazioni </a>
      <ng-template ngbNavContent class="bookings">
        <div
          *ngIf="pendingBookings.length === 0 && confirmedBookings.length === 0"
          class="alert alert-light"
          role="alert"
        >
          Nessuna prenotazione effettuata.
        </div>
        <div *ngIf="pendingBookings.length > 0">
          <h3>In attesa</h3>
          <div ngbAccordion [closeOthers]="true">
            <div *ngFor="let booking of pendingBookings" ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                  {{ booking.city }} -
                  {{ booking.date | date : "dd/MM/yyyy - HH:mm" }}
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody class="accordion-body-custom">
                  <h5>Barman</h5>
                  <p>
                    {{ booking.barman.firstName }} {{ booking.barman.lastName }}
                  </p>
                  <h5>Dettagli</h5>
                  <p>{{ booking.eventDetails }}</p>
                  <button
                    type="button"
                    class="custom-btn me-2 mt-3"
                    (click)="openBookingModal(contentBooking, booking)"
                  >
                    Modifica
                  </button>
                  <button
                    type="button"
                    class="custom-btn"
                    (click)="confirmDeleteBooking(booking.id)"
                  >
                    Elimina
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="confirmedBookings.length > 0" class="mt-4">
          <h3>Confermate</h3>
          <div ngbAccordion [closeOthers]="true">
            <div *ngFor="let booking of confirmedBookings" ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                  {{ booking.city }} -
                  {{ booking.date | date : "dd/MM/yyyy - HH:mm" }}
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody class="accordion-body-custom">
                  <h5>Barman</h5>
                  <p>
                    {{ booking.barman.firstName }} {{ booking.barman.lastName }}
                  </p>
                  <h5>Dettagli</h5>
                  <p>{{ booking.eventDetails }}</p>
                  <button
                    type="button"
                    class="custom-btn mt-3"
                    (click)="confirmDeleteBooking(booking.id)"
                  >
                    Elimina
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink> Richieste </a>
      <ng-template ngbNavContent>
        <div
          *ngIf="quotations.length == 0"
          class="alert alert-light"
          role="alert"
        >
          Nessuna richiesta di quotazione effettuata.
        </div>

        <div class="container">
          <div ngbAccordion [closeOthers]="true" *ngIf="quotations.length > 0">
            <div *ngFor="let quotation of quotations" ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                  {{ quotation.city }} -
                  {{ quotation.requestDate | date : "dd/MM/yyyy - HH:mm" }}
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <h5>Dettagli</h5>
                  <p>{{ quotation.eventDetails }}</p>
                  <button
                    type="button"
                    class="custom-btn me-2 mt-3"
                    (click)="openQuotationModal(contentQuotation, quotation)"
                  >
                    Modifica
                  </button>
                  <button
                    type="button"
                    class="custom-btn"
                    (click)="deleteQuotation(quotation.id)"
                  >
                    Elimina
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>

  <ng-template #contentBooking let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modifica Prenotazione</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="bookingForm">
        <label for="date" class="form-check-label">Data</label>
        <div class="inputContainer mb-3">
          <input
            type="date"
            class="inputField"
            [ngClass]="{
              'is-invalid':
                bookingForm.controls['date'].invalid &&
                (bookingForm.controls['date'].dirty ||
                  bookingForm.controls['date'].touched)
            }"
            id="date"
            formControlName="date"
            required
          />
        </div>
        <label for="time" class="form-check-label">Ora</label>
        <div class="inputContainer mb-3">
          <input
            type="time"
            id="time"
            class="inputField"
            [ngClass]="{
              'is-invalid':
                bookingForm.controls['time'].invalid &&
                (bookingForm.controls['time'].dirty ||
                  bookingForm.controls['time'].touched)
            }"
            formControlName="time"
            required
          />
        </div>
        <label for="eventDetail" class="form-check-label"
          >Dettaglio Evento</label
        >
        <div class="inputContainer mb-3">
          <textarea
            class="inputField"
            [ngClass]="{
              'is-invalid':
                bookingForm.controls['eventDetails'].invalid &&
                (bookingForm.controls['eventDetails'].dirty ||
                  bookingForm.controls['eventDetails'].touched)
            }"
            id="eventDetail"
            formControlName="eventDetails"
            rows="3"
            required
            maxlength="300"
          ></textarea>
        </div>
        <label for="city" class="form-check-label">Città</label>
        <div class="inputContainer mb-3">
          <input
            type="text"
            class="inputField"
            [ngClass]="{
              'is-invalid':
                bookingForm.controls['city'].invalid &&
                (bookingForm.controls['city'].dirty ||
                  bookingForm.controls['city'].touched)
            }"
            id="city"
            formControlName="city"
            required
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="custom-btn"
        (click)="modal.dismiss('cancel click')"
      >
        Annulla
      </button>
      <button
        type="button"
        class="custom-btn"
        [disabled]="!bookingForm.valid"
        (click)="saveBooking()"
      >
        Salva
      </button>
    </div>
  </ng-template>

  <ng-template #contentQuotation let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modifica Quotazione</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="quotationForm">
        <label for="requestDate" class="form-check-label">Data</label>
        <div class="inputContainer mb-3">
          <input
            type="date"
            class="inputField"
            [ngClass]="{
              'is-invalid':
                quotationForm.controls['requestDate'].invalid &&
                (quotationForm.controls['requestDate'].dirty ||
                  quotationForm.controls['requestDate'].touched)
            }"
            id="requestDate"
            name="requestDate"
            formControlName="requestDate"
            required
          />
        </div>
        <label for="requestTime" class="form-check-label">Ora</label>
        <div class="inputContainer mb-3">
          <input
            type="time"
            id="requestTime"
            class="inputField"
            [ngClass]="{
              'is-invalid':
                quotationForm.controls['requestTime'].invalid &&
                (quotationForm.controls['requestTime'].dirty ||
                  quotationForm.controls['requestTime'].touched)
            }"
            formControlName="requestTime"
            name="requestTime"
            required
          />
        </div>
        <label for="eventDetail" class="form-check-label"
          >Dettaglio Evento</label
        >
        <div class="inputContainer mb-3">
          <textarea
            class="inputField"
            [ngClass]="{
              'is-invalid':
                quotationForm.controls['eventDetails'].invalid &&
                (quotationForm.controls['eventDetails'].dirty ||
                  quotationForm.controls['eventDetails'].touched)
            }"
            id="eventDetail"
            name="eventDetails"
            rows="3"
            formControlName="eventDetails"
            required
            maxlength="300"
          ></textarea>
        </div>
        <label for="city" class="form-check-label">Città</label>
        <div class="inputContainer mb-3">
          <input
            type="text"
            class="inputField"
            [ngClass]="{
              'is-invalid':
                quotationForm.controls['city'].invalid &&
                (quotationForm.controls['city'].dirty ||
                  quotationForm.controls['city'].touched)
            }"
            id="city"
            name="city"
            formControlName="city"
            required
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="custom-btn"
        (click)="modal.dismiss('cancel click')"
      >
        Annulla
      </button>
      <button
        type="button"
        class="custom-btn"
        [disabled]="!quotationForm.valid"
        (click)="saveQuotation()"
      >
        Salva
      </button>
    </div>
  </ng-template>
</div>
