<section class="hero-section">
  <div class="overlay">
    <h2 class="hero-heading">Quotazioni</h2>
    <p class="fs-4 fst-italic mb-0">
      Visualizza e rispondi a tutte le richiese pubblicate dagli utenti.
    </p>
  </div>
</section>


<div class="container mt-5">
  <div *ngIf="quotations.length === 0" class="alert alert-light" role="alert">
    Nessuna quotazione trovata.
  </div>
  <div *ngIf="quotations.length > 0">
    <h3>Richieste di quotazione</h3>
    <div ngbAccordion [closeOthers]="true">
      <div *ngFor="let quotation of quotations" ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            {{ quotation.city }} - {{ quotation.requestDate | date: 'dd/MM/yyyy - HH:mm' }}
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <h5>Cliente</h5>
            <p>{{ quotation.nameUser }} {{ quotation.surnameUser }}</p>
            <h5>Dettagli</h5>
            <p>{{ quotation.eventDetails }}</p>
            <button
              type="button"
              class="custom-btn me-2 mt-3"
              (click)="openQuotationModal(contentQuotation, quotation)"
            >
              Invia proposta
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngb-pagination
    [collectionSize]="totalQuotations"
    [(page)]="currentPage"
    [pageSize]="pageSize"
    (pageChange)="loadQuotations()"
  ></ngb-pagination>

  <!-- Modale per inviare la proposta -->
  <ng-template #contentQuotation let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Invia Proposta</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="quotationForm">
        <label for="priceDetails" class="form-check-label">Prezzo</label>
        <div class="inputContainer mb-3">
          <input
            type="number"
            class="inputField"
            [ngClass]="{'is-invalid': quotationForm.controls['priceDetails'].invalid && (quotationForm.controls['priceDetails'].dirty || quotationForm.controls['priceDetails'].touched)}"
            id="priceDetails"
            formControlName="priceDetails"
            required
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="custom-btn"
        (click)="modal.dismiss('cancel click')"
      >
        Annulla
      </button>
      <button
        type="button"
        class="custom-btn"
        [disabled]="!quotationForm.valid"
        (click)="confirmQuotation(modal)"
      >
        Conferma
      </button>
    </div>
  </ng-template>
</div>
