<div class="container mt-5">
  <div class="row g-5">
    <div class="col-md-5 text-center d-flex flex-column justify-content-center position-relative">
      <div class="avatar-container">
        <img [src]="avatarUrl" alt="Avatar" class="avatar-img mb-3" *ngIf="avatarUrl">
        <img src="/assets/img/avatar.webp" alt="Avatar" class="avatar-img mb-3" *ngIf="!avatarUrl">
        <div class="overlay" (click)="fileInput.click()">
          <span class="overlay-text">Modifica</span>
        </div>
        <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>
      </div>
    </div>
    <div class="col-md-7 user-data">
      <h3 class="mb-4">{{user?.firstName}} {{user?.lastName}}</h3>
      <div class="d-flex border-bottom mb-1">
        <fa-icon [icon]="mail"></fa-icon>
        <h5 class="mb-1 ms-2">Email</h5>
      </div>
      <p class="fs-5 mb-4">{{user?.email}}</p>
      <div class="d-flex border-bottom mb-1">
        <fa-icon [icon]="city"></fa-icon>
        <h5 class="mb-1 ms-2">Città</h5>
      </div>
      <p class="fs-5 mb-4">{{user?.city}}</p>
      <div class="d-flex border-bottom mb-1">
        <fa-icon [icon]="username"></fa-icon>
        <h5 class="mb-1 ms-2">Username</h5>
      </div>
      <p class="fs-5 mb-4">{{user?.username}}</p>
      <button class="custom-btn mt-3" (click)="openEditModal(editContent)">Modifica dati utente</button>
    </div>
  </div>
</div>

<!-- Modale per la modifica dei dati utente -->
<ng-template #editContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modifica Dati Utente</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">
      <label for="firstName" class="form-check-label">Nome</label>
      <div class="inputContainer mb-3">
        <input
          type="text"
          class="inputField"
          [ngClass]="{'is-invalid': editForm.controls['firstName'].invalid && (editForm.controls['firstName'].dirty || editForm.controls['firstName'].touched)}"
          id="firstName"
          formControlName="firstName"
          required
        />
      </div>

      <label for="lastName" class="form-check-label">Cognome</label>
      <div class="inputContainer mb-3">
        <input
          type="text"
          class="inputField"
          [ngClass]="{'is-invalid': editForm.controls['lastName'].invalid && (editForm.controls['lastName'].dirty || editForm.controls['lastName'].touched)}"
          id="lastName"
          formControlName="lastName"
          required
        />
      </div>

      <label for="email" class="form-check-label">Email</label>
      <div class="inputContainer mb-3">
        <input
          type="email"
          class="inputField"
          [ngClass]="{'is-invalid': editForm.controls['email'].invalid && (editForm.controls['email'].dirty || editForm.controls['email'].touched)}"
          id="email"
          formControlName="email"
          required
        />
      </div>

      <label for="city" class="form-check-label">Città</label>
      <div class="inputContainer mb-3">
        <input
          type="text"
          class="inputField"
          [ngClass]="{'is-invalid': editForm.controls['city'].invalid && (editForm.controls['city'].dirty || editForm.controls['city'].touched)}"
          id="city"
          formControlName="city"
          required
        />
      </div>

      <label for="password" class="form-check-label">Password</label>
      <div class="inputContainer mb-3">
        <input
          type="password"
          class="inputField"
          id="password"
          formControlName="password"
          placeholder="Se lasciato vuoto manterrai la stessa password"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="custom-btn" (click)="modal.dismiss('cancel click')">Annulla</button>
    <button type="button" class="custom-btn" [disabled]="editForm.invalid" (click)="updateUser(modal)">Modifica</button>
  </div>
</ng-template>
