<div class="container mt-5">
  <h2>I tuoi eventi</h2>
  <div *ngIf="pendingBookings.length > 0">
    <h3>Pending</h3>
    <div ngbAccordion>
      <div *ngFor="let booking of pendingBookings" ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{booking.city}} - {{booking.date}} - Stato: {{booking.status}}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <p>Utente: {{booking.user.firstName}} {{booking.user.lastName}}</p>
            <p>Dettagli: {{booking.eventDetails}}</p>
            <button type="button" class="btn btn-primary" (click)="confirmBooking(booking.id)">Conferma</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pendingBookings.length == 0" class="alert alert-light" role="alert">
    Nessuna prenotazione pending trovata.
  </div>

  <div *ngIf="confirmedBookings.length > 0" class="mt-4">
    <h3>Confirmed</h3>
    <div ngbAccordion>
      <div *ngFor="let booking of confirmedBookings" ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{booking.city}} - {{booking.date}} - Stato: {{booking.status}}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <p>Utente: {{booking.user.firstName}} {{booking.user.lastName}}</p>
            <p>Dettagli: {{booking.eventDetails}}</p>
            <button type="button" class="btn btn-danger" (click)="confirmDeleteBooking(booking.id)">Elimina</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="confirmedBookings.length == 0" class="alert alert-light" role="alert">
    Nessuna prenotazione confermata trovata.
  </div>
</div>
